{%extends 'layoutBidder.html'%}
{%block content%}
{%load static%}

<div class="container col-12 col-lg-12 col-md-12 col-sm-12" style="margin-top:150px;">
    <h1 style="text-align:center;font-family:'Balsamiq Sans', cursive;font-size:40px">Art Ghar</h1>
    <div class="d-flex justify-content-center">
            <img src="{% static 'Images/art1.jpg'%}" class="img img-responsive col-12 col-lg-8" height="400px">
    </div>
    <div style="text-align:center; margin-top:50px; font-family:'Balsamiq Sans', cursive;font-size:20px">
        <p>Buyers can bid on any art and will be notified about their bidding.</p>
        <p>Sellers can create their art for auction by clicking on create art.</p>
    </div>


</div>
{% endblock  %}
