{% extends "layout.html"%}
{%block content%}
{%load static%}
<div  class="col-lg-12" id="logindiv">
                <img class="col-lg-6 col-12" src="{% static 'images/art6..jpg'%}"  height="700px" id="loginimg">
                <div class="col-lg-6 col-12" id="loginform">
                    <form class="form-group " method="POST" action="" id="form">
                        {%csrf_token%}
                        <h1 id="brandname1">Art Ghar</h1>
                        <h1 id="login">LOG IN </h1>

                        <h4 style="text-align: center;font-size: 15px; margin-top: 20px;">Please fill in the details</h4>

                        <h4 class="my-3" style="text-align: center;"> Email:</h1>
                        <input class=" form-control lead mx-1 my-1 " id="input1" placeholder="Email" name="Email"  type="email" >

                        <div ><span class="message"></span></div>

                        <h4 class="my-3" style="text-align: center;"> Password: </h4 >
                        <input class=" form-control lead  mx-1 my-1  " id="input2" placeholder="Password" name="Password" type="password">

                        <div ><span class="message"></span></div>
                        <input class="btn btn-success mx-1 my-4  form-control" type="submit" id="button1" value="Log In">
                        <div ><span class="message"></span></div>

                    </form>

                </div>




            </div>
{%endblock%}