#logindiv{
    margin-top: 200px;
    height: 700px;
    padding: 20px;

}
#loginform{
    background-color: white;

}
#loginform,#loginimg{
    float: left;
    display: block;

}
#form{
    background-color: whitesmoke;
    border: 1px solid gray;
    height: 700px;
    padding: 20px;

}
#brandname1{
    color:black;
    font-size:50px; text-align:center;
    margin-top: 20px;
    font-family: 'Bad Script', cursive;

}
#login{
    color:black;font-size:30px; text-align:center;
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 20px;
}
