<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--        loading the static css files-->
        {%load static%}
        <link rel="stylesheet" href="{%static 'layout.css'%}">
        <link rel="stylesheet" href="{% static 'dashboard.css'%}">
        <link rel="stylesheet" href="{% static 'login.css'%}">
        <link rel="stylesheet" href="{%static 'createart.css'%}">

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Crimson+Text&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merienda&display=swap" rel="stylesheet">        <!-- fa icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <!-- main div -->
        <div class="container-fluid col-lg-12 col-md-10" id="maindiv">
            <!-- navigation bar -->
            <nav class="navbar navbar-expand-lg col-lg-12 col-md-12 fixed-top " id="navbar1">
                <!-- brand name -->
                <a class="navbar-brand mx-4 my-4" id="brandname" href="/">
                    <img src="{% static 'images/art1.jpg'%}" style="width: 100px;height: 50px;">
                    ArtGhar</a>
                <!-- collapse toggle -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation " id="toggicon" style="color: white;">
                        <i class="fas fa-bars" style="font-size: 40px;"></i>
                      </button>

                <div class="collapse navbar-collapse collapsenav " id="collapsenav" >
                    <ul class="navbar navbar-nav mr-2 mt-2 mt-lg-0 ">
                        <!-- HOME -->
                        <li class="nav-item active">
                            <a href="/home_arts" class="nav-link text-light a " >ARTS</a>
                        </li >
                        <!-- ABOUT US -->
                        <li class="nav-item">
                            <a href="/aboutus" class="nav-link text-light a">ABOUT US</a>
                        </li>
                        <!-- help -->
                        <li class="nav-item">
                            <a href="/help" class="nav-link text-light  a"  >HELP</a>
                        </li>
                        <!-- contact -->
                        <li class="nav-item">
                            <a href="/contactus" class="nav-link text-light  a">CONTACT</a>
                        </li>
                    </ul>
                    <form class="form-group my-2 col-lg-5 col-sm-9 ">
                        <input class="form-inline col-lg-8 col-md-7 col-sm-7 col-9" type="search" placeholder="Search" aria-label="Search" id="searchinput">
                        <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                    </form>
<!--                    <a  class="btn btn-outline-success mx-1"></a>-->
<!--                    <a href="/login" class="btn btn-outline-primary mx-1 my-1"></a>-->
                </div>
            </nav>
            {%block content%}{%endblock%}

        </div>


        <script src="{% static 'HomePage.js'%}"></script>
        <!-- JavaScript Bundle with Popper for bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>